<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ news.title }}</h1>
        <p><strong>By:</strong> {{ news.author.username }}</p>
        <p><strong>Published on:</strong> {{ news.pub_date }}</p>
        <p>{{ news.short_description }}</p>
        <p>{{ news.text }}</p>
    </div>
</body>
</html>
